.m {
  background-color: mediumseagreen;
}

.f {
  background-color: pink;
}

.m,
.f {
  padding: 10px;
  display: inline-flex;
  margin: 5px;
  border-radius: 5px;
  color: whitesmoke;
}

body {
  color:cadetblue;
  width: cover;
  font-family: sans-serif;
  margin: 50px;
  display: block;
}

#name-list {
  padding: 2px 20px;
  list-style: none;
  font-family: inherit;
  font-weight: bold;
  border: 2px solid darkcyan;
  border-radius: 25px;
}
